.navigation {
    display: flex;
    align-items: center;
    min-height: 4rem;
    max-width: 1100px;
    margin: 0 auto 2rem;

    @media #{$mq-md}, #{$mq-lg} {
        flex-flow: row;
        justify-content: flex-start;
    }

    @media #{$mq-sm} {
        flex-flow: column;
        justify-content: center;
    }

    &-container {
        background-color: #13667a;
    }

    a {
        text-decoration: none;
    }

    img {
        height: auto;
    }

    &-logo {
        img {
            @media #{$mq-md}, #{$mq-lg} {
                margin-top: 0.6rem;
                width: 9.4rem;
            }

            @media #{$mq-sm} {
                margin-top: 0.5rem;
                width: 14rem;
            }
        }
    }

    &-nav {
        @media #{$mq-md}, #{$mq-lg} {
            margin: 0 0 0 2rem;
        }

        @media #{$mq-sm} {
            margin: 0 0 0.75rem 0;
        }

        &-container {
            display: flex;
            flex-flow: row;
            justify-content: space-between;
        }

        &-item {
            list-style: none;

            &:not(:last-child) {
                margin-right: 1rem;
            }

            &.active {
                a {
                    background-color: #0f5464;
                    padding: 0.4rem;
                }
            }

            a {
                color: rgba(255, 255, 255, 0.85);
                font-weight: 600;
                letter-spacing: 1px;
                transition: all 0.1s ease;

                &:hover {
                    color: rgba(255, 255, 255, 1);
                    text-decoration: underline;
                }

                @media #{$mq-md}, #{$mq-lg} {
                    font-size: 1rem;
                }

                @media #{$mq-sm} {
                    font-size: 1.35rem;
                }
            }
        }
    }
    &-search {
        position: relative;
        display: flex;
        align-items: center;
        margin: 0 5rem 0 auto;
        min-height: 2.5rem;
        outline: none;

        @media screen and (max-width: 1000px) {
            display: none;
        }

        &-input {
            padding: 0.5rem 0;
            font-size: 1.25rem;
            border: 2px solid #0f5464;
            color: #c8eef7;
            background: transparent;
            padding-left: 1rem;
            min-width: 20rem;

            &:focus {
                border-color: #fff;
                outline: none;
            }
        }

        &-random {
            position: absolute;
            right: 3.5rem;
            top: 55%;
            height: 50%;
            transform: translateY(-50%);
            &-img {
                width: 1.1rem;
            }
        }

        &-submit {
            position: absolute;
            right: 2px;
            top: 50%;
            transform: translateY(-50%);

            border: none;
            outline: none;
            background: #0f5464;
            padding: 0.4rem 0.7rem;

            &-img {
                width: 1.25rem;
                margin-top: 0.2rem;
                filter: brightness(0) invert(0.85);
                transition: all 0.1s ease;
                &:hover {
                    filter: brightness(0) invert(1);
                }
            }
        }
    }

    &-user {
        display: flex;
        flex-flow: row;
        align-items: center;

        @media #{$mq-md}, #{$mq-lg} {
            margin-left: auto;
        }
        @media #{$mq-sm} {
            margin-bottom: 0.5rem;
        }

        div {
            &:not(:first-child) {
                margin-left: 1rem;
            }
            a {
                display: block;
                img {
                    // width: 2rem;
                    filter: brightness(0) invert(0.85);
                    transition: all 0.1s ease;
                    &:hover {
                        filter: brightness(0) invert(1);
                    }
                }
            }
        }

        &-history {
            a {
                img {
                    @media #{$mq-md}, #{$mq-lg} {
                        width: 2.25rem;
                    }
                    @media #{$mq-sm} {
                        width: 3rem;
                    }
                }
            }
        }

        &-favorite {
            a {
                img {
                    @media #{$mq-md}, #{$mq-lg} {
                        width: 1.75rem;
                    }
                    @media #{$mq-sm} {
                        width: 2.25rem;
                    }
                }
            }
        }

        &-settings {
            a {
                img {
                    @media #{$mq-md}, #{$mq-lg} {
                        width: 1.75rem;
                    }
                    @media #{$mq-sm} {
                        width: 2.25rem;
                    }
                }
            }
        }

        &-profile {
            a {
                img {
                    @media #{$mq-md}, #{$mq-lg} {
                        width: 2.25rem;
                    }
                    @media #{$mq-sm} {
                        width: 2.75rem;
                    }
                }
            }
        }
    }
}
